.form {
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: white;
    padding: 2em 1.5em 3em;
    border-radius: 0.8em;
    position: relative;
}

.form_x {
    position: absolute;
    top: 0.7em;
    right: 1.5em;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(220, 49, 49);
}

.form_x:hover {
    transform: scale(1.5);
}

.form_title {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.form_label {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 1em;
}

.form_field_name {
    font-size: 0.9rem;
    font-weight: 300;
    padding-left: 1em;
}

.form_field {
    padding: 0.3em 1em;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid #aaa5;
    font-weight: 300;
    color: #555;
    border-radius: 0.5em;
}

.form_btn {
    margin-top: 2em;
    max-width: 200px;
    width: 100%;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 0.5em 0;
    margin-left: 35px;
    font-weight: 300;
    background-color: rgb(72, 123, 206);
    color: white;
}

.form_btn:hover {
    filter: brightness(1.2);
}


.form_btn {
    position: relative;
    padding: 15px 45px;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    cursor: pointer;
    border: 1px solid #fec195;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}

.form_btn:hover {
    border: 1px solid #f3b182;
    background: linear-gradient(85deg,
            #fec195,
            #fcc196,
            #fabd92,
            #fac097,
            #fac39c);
    animation: wind 2s ease-in-out infinite;
}

@keyframes wind {
    0% {
        background-position: 0% 50%;
    }

    0% {
        background-position: 50% 100%;
    }

    0% {
        background-position: 0% 50%;
    }
}

.icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

.form_btn:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
}

@keyframes slay-1 {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

.form_btn:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0);
    }
}

.icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

.form_btn:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
}

@keyframes slay-3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0);
    }
}